# Node
NODE_ENV=development
THAT_ENVIRONMENT=dev-local
LOG_LEVEL=
POSTMARK_API_TOKEN=

# Graph Config
ENABLE_GRAPH_PLAYGROUND=true
ENABLE_GRAPH_INTROSPECTION=true

# Sentry Config
SENTRY_DSN=

#Auth
AUTH0_JWKS_URI=
AUTH0_AUDIENCE=
AUTH0_ISSUER=